@model IEnumerable<Data.Models.t_tip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


@*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@

<div id="monTab">
    <h2>Tips - Informations</h2>

    <div style="margin-left:1030px">
        <text>Number of records :   </text>
        @Model.Count() @Html.DisplayText("aaa")
    </div>

            @using(Html.BeginForm("Index", "Tip", FormMethod.Get))
            {
            //the following are search options
                <b> Search Option: </b>
                @Html.RadioButton("optionChoisie", "Title", htmlAttributes: new { @checked = "isChecked" }) <text>Title</text>
                @Html.RadioButton("optionChoisie", "Description") <text> Description </text>
                @Html.TextBox("searchTextBox")
                <input type="submit" name="submit" value="Search" />
            }

            <br />
            <br />
            <br />


            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <br />
            <br />

            @if (Model.Count() == 0)
            {
        <tr>
            <td colspan="3">  <center><b style="color:coral">Sorry, records not found </b></center></td>
        </tr>
        <br />
        <br />
            }
            else
            {
                <table border="1">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.tipId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.liked)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.disliked)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.idPatientVoted)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.administrator_userId)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.liked)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.disliked)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.idPatientVoted)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.administrator_userId)
                            </td>
                            <td>
                                <div style="color:blue;   padding:40px;">

                                    @Html.ActionLink("Details", "Details", new { id = item.tipId }) <br /><br />

                                    @{  if (item.administrator_userId == ViewBag.connectedAdminId)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.tipId }) <br /><br />
                                            @Html.ActionLink("Delete", "Delete", new { id = item.tipId })<br /><br />
                                        }
                                    }

                                    @{  if (ViewBag.connectedPatientId != 0)
                                        {
                                            @Html.ActionLink("Like", "Appreciate", new { id = item.tipId })<br /><br />
                                            @Html.ActionLink("Dislike", "Dislike", new { id = item.tipId })<br /><br />
                                            @*@Html.ActionLink("Add to my favorite tips", "AddToMyFav", new { id = item.tipId })*@
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                                        }

                </table>
                                        }
    </div>