@model IEnumerable<Data.Models.t_question>

@{
    ViewBag.Title = "Index";
}


@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
 
<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.questionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.response)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.questionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.response)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_userId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.questionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.questionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.questionId }) |
            @Html.ActionLink("Answer", "Answer", new { id = item.questionId })
        </td>
    </tr>
}

</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
