@model Data.Models.t_testimony

@{
    Layout = "~/Views/Shared/_mytemplate.cshtml";
    ViewBag.Title = "Delete";
}
<div style="margin-left:30px;font-family: raleway-regular, arial; letter-spacing: 1px;">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.testimonyId)
                </dt>
                <br />

                <dd>
                    @Html.DisplayFor(model => model.testimonyId)
                </dd>
            </div>
            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <br />
                <dd>
                    @Html.DisplayFor(model => model.date)
                </dd>
            </div>

            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.title)
                </dt>
                <br />
                <dd>
                    @Html.DisplayFor(model => model.title)
                </dd>
            </div>
            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <br />
                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>
            </div>
            @*<dt>
                @Html.DisplayNameFor(model => model.patient_userId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.patient_userId)
            </dd>*@

        </dl>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <div class="form-actions no-color"  >
                <input type="submit" style="margin-bottom:20px;margin-left:20px; font-family: raleway-regular, arial; letter-spacing: 1px;"  value="Delete" class="btn btn-default" /> 
               <br />
                <span style="margin-left:20px;">

                    @Html.ActionLink("Back to List", "Index")
                    </span>
</div>
        }
    </div>
    </div>
