@model Data.Models.t_testimony

@{
    Layout = "~/Views/Shared/_mytemplate.cshtml";
    ViewBag.Title = "Details";
}

<div style="margin-left:30px;font-family: raleway-regular, arial; letter-spacing: 1px;">

    <h2>Details</h2>

    <div>
        <h4>t_testimony</h4>
        <hr />
        <dl class="dl-horizontal">
            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.testimonyId)
                </dt>
                <br />

                <dd>
                    @Html.DisplayFor(model => model.testimonyId)
                </dd>
            </div>
            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <br />
                <dd>
                    @Html.DisplayFor(model => model.date)
                </dd>
            </div>

            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.title)
                </dt>
                <br />
                <dd>
                    @Html.DisplayFor(model => model.title)
                </dd>
            </div>
            <div style="margin-bottom:20px;margin-left:20px;">
                <dt style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <br />
                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>
            </div>
                        @*<dt>
                @Html.DisplayNameFor(model => model.patient_userId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.patient_userId)
            </dd>*@

</dl>
    </div>
    <p> <span style="margin-left:20px">
        @{  if (Model.patient_userId == ViewBag.connectedUserId)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.testimonyId })      
            }  }
           </span>
            <br /><br />
            <span style="margin-left:20px">
                @Html.ActionLink("Back to List", "Index")
            </span>
    </p>

</div>