@model IEnumerable<Data.Models.t_testimony>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc; 
@using PagedList; 

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>Testimonials</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.testimonyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.testimonyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.patient_userId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.testimonyId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.testimonyId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.testimonyId })
        </td>
    </tr>
}

</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
