@model IEnumerable<Data.Models.t_testimony>

@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

@using PagedList.Mvc; 
@using PagedList; 

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div id="monTab">
<h2>Testimonials</h2>

    @using (Html.BeginForm("Index", "Testimony", FormMethod.Get))
    {
        //the following are search options
        <b> Search Option: </b>
            @Html.RadioButton("optionChoisie", "Title",  htmlAttributes: new { @checked="isChecked"  }) <text>Title</text>
            @Html.RadioButton("optionChoisie", "Description") <text> Description </text>
            @Html.TextBox("searchTextBox") 
    <input type = "submit"  name = "submit" value = "Search" />
        }

    <br /><br /> <br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <br />
    <br />

    @if (Model.Count() == 0)
    { <tr > <td colspan = "3" >  <center><b style="color:coral">Sorry, records not found </b></center></td>
    </tr >
    <br />
    <br />
    }
    else { 


<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.testimonyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.testimonyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.patient_userId)
        </td>
        <td>
        
        <div style="color:blue;   padding:40px;">
               
                @Html.ActionLink("Details", "Details", new { id = item.testimonyId }) <br /><br />
         @{  if (item.patient_userId == ViewBag.connectedUserId)
             {
             @Html.ActionLink("Edit", "Edit", new { id = item.testimonyId })<br/><br />
                @Html.ActionLink("Delete", "Delete", new { id = item.testimonyId })<br/><br />
             }  } 

            </div></td>
    </tr>
}

</table>

             }
    </div>
<div style="margin-left:550px;">
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
</div>

<br />
<br />
<center>


    <embed src="~/Video/testimonials.mp3" width="0" height="0" />
</center>

