@model Data.Models.t_flightmatching

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idFlightMatching)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idFlightMatching)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFlightMatchingArr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFlightMatchingArr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFlightMatchingDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFlightMatchingDep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numFlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfSits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfSits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeFlightMatchingArr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeFlightMatchingArr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeFlightMatchingDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeFlightMatchingDep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.idFlightMatching }) |
    @Html.ActionLink("Back to List", "Index")
</p>
