@model IEnumerable<Data.Models.t_hotel>

@{
    ViewBag.Title = "IndexPatient";
}

<h2>IndexPatient</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                Search for a hotel : @Html.TextBox("search")
            </td>
            <td>
                <input type="submit" value="search" id="submit" />
            </td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hotelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
 
    
        <th>
            @Html.DisplayNameFor(model => model.stars)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hotelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.stars)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.hotelId }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
