@model Data.Models.t_clinic

@{
    ViewBag.Title = "Details";
}


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Details</h2>

<div>
    <h4>t_clinic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clinicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.professionalism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professionalism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceSimple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceSimple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceSingle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceSingle)
        </dd>

    

        @*<dt>
            @Html.DisplayNameFor(model => model.ImgName)
        </dt>*@

        <dd>
            <img src="~/Upload/@Html.DisplayFor(model =>model.ImgName)" style="height:200px;width:200px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.clinicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
