@model Data.Models.t_flight

@{
    ViewBag.Title = "DeleteMYflight";
}

<h2>Delete my flight</h2>

<h3>Are you sure you want to cancel this flight?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flightId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numFlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departureLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.timeFlightMatchingDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeFlightMatchingDep)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.arrivalLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalLocation)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeFlightMatchingArr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeFlightMatchingArr)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.numberOfSits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfSits)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-default" />
            @Html.ActionLink("Back to the list of my flights", "IndexOfMYflights")
        </div>
    }
</div>
